
*{
   margin:0;
   padding:0;
   font-family:Century Gothic;
 }
 header
 {
     background-color: lavenderblush;
     height: 14vh;
     background-size:cover;
     background-positon:center;
 }
ul{
	list-style-type: none;
}
ul li
 {
   display:inline-block;  

 }
ul li a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding:5px 20px;

}
.logo
 {
   float:left;
   margin-left: 10px;
   margin-top: 10px;
 }
ul li a:hover
 {
   background-color:white;
   color: black;
  } 
 .list 
 {
   float:right;
   max-width:2500px;
   margin-top: 40px;
   border: 1px solid transparent;
   transition: 0.6s ease;
  }
.container {
  position: relative;
  max-width: 1500px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  top: 30vh; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  width: 97%; /* Full width */
  padding: 20px; /* Some padding */
}
.des 
{
  background-color: lavender;
  height: 10vh;

  background-size:cover;
  background-positon:center;
}
.des ul li
 {
   padding: 30px 100px;
   margin-left: 40px;
   font-size: 15px;
   font-family:  Arial, Helvetica, sans-serif;
   font-weight: 600;
 }
 .mat
 {
  background-color: thistle;
  
 }
 .mat h2
  {
    text-align: center;
    color: black;
  }
 .matter
  {
    background-color: PeachPuff;
    position: relative;
  }
.matter h2
  {
    
    text-align: center;
    color: black;
    position: relative;
  }
.matter p
   {
    text-align: center;

   }
.books h2
   {
     position: center;
     background-color: seashell;
     text-align: center;
   }
